.abilitiesGridLayoutCreateEdit > div:first-child {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    & > div {
        display: flex;
    }
}

.abilities {
    .MuiTableCell-root.MuiTableCell-head:nth-child(n+3) {
        text-align: center;
    }
    .MuiTableCell-root.MuiTableCell-body:nth-child(n+3) {
        text-align: center;
    }
}
