.organizationGridLayoutShow {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: 1.2em;

    & > div {
        overflow: hidden;
    }

    img {
        margin: 0;
    }
}

.organizationImageShow {
    grid-row: 1 / span 10;
}

.organizationListImageShow {
    width: 100;
    height: 100;
    display: "block";
}

.organizationGridLayoutCreateEdit > div:first-child {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    & > div {
        display: flex;
    }

    & > div:last-child {
        grid-row: 100;
        grid-column: 1/span 3;
    }
}
